[Unit]
Description=Ywd-Panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ywd-panel
Group=ywd-panel
WorkingDirectory=/opt/ywd-panel
ExecStart=/opt/ywd-panel/ywd-panel
Restart=always
RestartSec=2
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
